.Card {
  position: absolute;
  align-items: center;
  height: 300px;
}

.formcard {
  width: 450px;
  text-align: center;
  margin: 0 auto;
  /* margin-left: 30%;
  margin-right: 30%; */
  margin-top: 80px;
}
.input {
  width: 330px;
}
/* 
.form {
  margin-left: 15%;
  margin-right: 15%;
} */

.Button {
  padding: 40% 0;
}
